.project-container {
    padding: 50px 20px;
}
.some-of {
    font-size: 200px;
    font-weight: 900;
    margin: 0;
}
.my-project {
    text-align: right;
    font-size: 150px;
    font-weight: 600;
    margin: 0;
}
.project1 {
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.p1-image {
    width: 50%;
    height: 400px;
}
.p1-details {
    margin-left: 50px;
    text-align: left;
    margin-bottom: 100px;
}
.p1-details h3 {
    font-size: 50px;
    text-decoration: underline;
}
.p1-details p {
    margin-top: 30px;
}
.p2-image {
    width: 50%;
    height: 400px;
}
.p2-details {
    text-align: left;
    margin-right: 50px;
    margin-bottom: 100px;
}
.p2-details h3 {
    font-size: 50px;
    text-decoration: underline;
}
.p2-details p {
    margin-top: 30px;
}
@media screen and (max-width: 1200px) {
    .some-of {
        font-size: 150px;
        font-weight: 900;
        margin: 0;
    }
    .my-project {
        text-align: right;
        font-size: 100px;
        font-weight: 600;
        margin: 0;
    }
    .project1 {
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 992px) {
    .some-of {
        font-size: 100px;
        font-weight: 900;
        margin: 0;
    }
    .my-project {
        text-align: right;
        font-size: 75px;
        font-weight: 600;
        margin: 0;
    }
    .project1 {
        /* display: flex; */
        /* flex-direction: column; */
        margin-bottom: 0px;
    }
    .p1-details {
        margin-left: 20px;
        text-align: left;
        margin-bottom: 0px;
    }
    .p1-details p {
        margin-top: 0px;
    }
    .p2-details p {
        margin-top: 0px;
    }
    .p2-details {
        margin-bottom: 0px;
    }
    .p2-details h3,
    .p1-details h3 {
        font-size: 30px;
        text-decoration: underline;
    }
}
@media screen and (max-width: 768px) {
    .p2-details p,
    .p1-details p {
        display: none;
    }
}
